<div class="root">
  <div class="con-backimage">
    <div class="con-main">
      <div class="con-navBar">
        <div class="con-logo-container">
          <div class="con-logo">
          </div>
          <div class="con-name">
            SABARI
          </div>
        </div>
        <div class="con-nav-content">
          <ul class="con-navBar-div">
            <li class="nav-item"><a href="">HOME</a></li>
            <li class="nav-item"><a href="">ABOUTUS</a></li>
            <li class="nav-item"><a href="">SERVICES</a> </li>
            <li class="nav-item"><a href="">PROJECTS</a></li>
            <li class="nav-item"><a href="">CONTACT</a></li>
          </ul>
        </div>
        <div class="con-about_us">
          <div class="con-menuicon">
          </div>
        </div>
      </div>
      <div class="con-content">
        <div class="con-content-data" style="border: 2px solid white;">
          <div class="con-objective">
            <div class="con-name-designation">
              <div class="con-name-designation-name">
                <span>HI,I'M SABARI!</span>
                <br>
                <p>FULL STACK DEVELOPER</p>
              </div>
            </div>
            <div class="con-about-myself">
              <span>I'm a Full Stack Developer with two years of experience in designing,developing and implementing
                scalable web applications using modern technologies.Proficiant in both front-end and back-end develpment
                including HTML,CSS,JavaScript and popular framework such as Angular and Node.js.Strong analatical and
                problem-solving skills with a keen eye for detail and an ability to rapidly learn and adapt to new
                technologies. Excellent communication and team work abilities,contributing to efficient project
                management and successful software solutions. </span>
            </div>
            <div class="con-cv-download">
              <div class="con-cv-download-button">
                <button class="btn-cv-download">Download Cv</button>
              </div>
              <div class="con-cv-download-vdobutton">
                <!-- <button style="color: black;">Download-CV</button> -->
              </div>
            </div>
          </div>
          <div class="con-myPic">
            <div class="con-animation"></div>
          </div>
        </div>
        <div class="education">
          <div class="edu-tittle">
            <span>EDUCATION & SKILL</span>
          </div>
          <div class="edu-quote">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>