/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

*{
    color: white;
}

.con-about-myself {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.con-name-designation-name .con-nav-content .edu-tittle{
    font-family:monospace
}

::-webkit-scrollbar {
    width: 10px;
    border: 2px solid rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
    background: rgb(138, 130, 130);
}